html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "open sans";
  background-color: #86c8f7;
}

main {
  margin-left: 6rem;
  margin-right: 1rem;
}
@media only screen and (min-width: 768px) {
  main {
    width: 80%;
    margin: auto;
    padding-left: 4%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.projectLink {
  color: #86c8f7;
}

.none {
  padding: 0;
}

.project {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 500ms;
}

.project:hover {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
}
.color {
  color: #666;
  font-weight: normal;
}
.active {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 7px;
  border: 1px solid #86c8f7;
}
