html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

main {
}

.projectLink {
  color: #86c8f7;
}

.none {
  padding: 0;
}

.project {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 500ms;
}

.project:hover {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
}
.color {
  color: #666;
  font-weight: normal;
}
.active {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 7px;
  border: 1px solid #86c8f7;
}
