html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "open sans";
  background-color: #86c8f7;
}
main {
  width: 78%;
  margin: auto;
}
.projectLink {
  color: #86c8f7;
}
.smallLine {
  display: inline-block;
}
.none {
  padding: 0;
}
.description {
  width: 45%;
  padding-left: 40px;
  align-self: center;
}
.project {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 500ms;
}

.project:hover {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
}
.color {
  color: #666;
  font-weight: normal;
}
